<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>JPA</title>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">
</head>

<body>
<h1>employee details</h1>



<main>
    <div class ="container-md">
    <h2 th:text = "직원명 + ' : ' + ${employee.ename}"></h2>
        <table class = "table table-bordered">
            <thead>
                <tr>
                <th>사원번호</th>
                <td th:text = "${employee.id}"></td>
                </tr>
                <tr>
                <th>직무</th>
                <td th:text = "${employee.job}"></td>
                </tr>
                <tr>
                <th>매니저</th>
                <td th:text = "${employee.manager != null} ? ${employee.manager.ename} : '매니저 없음'"></td>
                </tr>
                <tr>
                <th>고용 날짜</th>
                <td th:text = "${employee.hiredate}"></td>
                </tr>
                <tr>
                <th>봉급</th>
                <td th:text = "${employee.salary}"></td>
                </tr>
                <tr>
                <th>커미션</th>
                <td th:text = "${employee.commission != null} ? ${employee.commission} : '커미션 없음'"></td>
                </tr>
                <tr>
                <th>부서명</th>
                <td th:text = "${employee.department.dname}"></td>
                </tr>
            </thead>
        </table>
    </div>
</main>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>