<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SPRINGBOOT3</title>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">
</head>

<body>
    <header class="bg-primary text-white">
    <h1 class="display-2 text-center">DEPARTMENT LIST</h1>
    </header>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
           <div class = "navbar-nav">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class = "nav-item"><a class="nav-link fs-3" th:href = "@{/}">홈</a></li>
               <li class = "nav-item"><a class="nav-link fs-3" th:href = "@{/employee/list}">직원</a></li>
               <li class = "nav-item"><a class="nav-link fs-3" th:href = "@{/department/list}">부서</a></li>
               </ul>  
           </div>
       </div>    
    </nav>

    <main>
        <div class ="container-lg">
            <table class = "table">
                <thead class = "table-dark">
                    <tr>
                        <th>부서 번호</th>
                        <th>부서 이름</th>
                        <th>매니저</th>
                        <th>부서 위치</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr th:each = "department : ${departments}" th:object = "${department}">
                        <td><a th:href = "@{/department/details/} + *{id}" th:text = "*{id}"></a></td>
                        <td><a th:href = "@{/department/details/} + *{id}" th:text = "*{name}"></a></td>
                        <!-- <td><a th:href = "@{/employee/details/} + *{manager_id}" th:text = "*{manager_id}"></a></td> -->
                        <td>
                            <td:block th:if="*{manager != null}">
                                <a th:href="@{/employee/details/} + *{manager.id}" th:text="*{manager.first_name} + ' ' +*{manager.last_name}"></a>
                            </td:block>
                             <td:block th:if="*{manager == null}">
                                <a th:text = "X"></a>
                            </td:block>
                        </td>
                        <td th:text = "*{location.country} +' | '+ *{location.city}"></td>            
                    </tr>
                </tbody>
            </table>
        </div>
    </main>


    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>